@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600&family=Nunito+Sans:opsz,wght@6..12,400;6..12,600&family=Poppins:wght@600&display=swap");
@font-face {
  font-family: "Supercell-Magic";
  src: url("../fonts/supercell-magic.woff");
}
@font-face {
  font-family: "KZ Supercell-Magic";
  src: url("../fonts/KZSupercell-Magic.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  background: transparent;
  outline: none;
  display: inline-block;
  cursor: pointer;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

span {
  display: inline-block;
}

ul {
  list-style: none;
}

input,
textarea {
  border: none;
  outline: none;
  background: transparent;
}

.wrapper {
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  font-family: "Supercell-Magic", Helvetica;
  font-style: normal;
}

.main_container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 50px;
}

.btn_success, .btn_danger, .btn_dark {
  border-radius: 13px;
  border-top: 1px solid #000;
  border-right: 1.2px solid #000;
  border-bottom: 1.4px solid #000;
  border-left: 1.2px solid #000;
  background: linear-gradient(180deg, #97D23C 0%, #7CCE49 100%);
  box-shadow: 0px 2.5px 0.5px 0px rgba(255, 255, 255, 0.7) inset, 0px 1px 1px 1.2px rgba(0, 0, 0, 0.25);
  color: #FFF;
  font-size: 18px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.36px;
  position: relative;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 13px;
  padding-right: 9px;
}
.btn_success::before, .btn_danger::before, .btn_dark::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 12px;
  border: 2.5px solid #95D13D;
}
.btn_success::after, .btn_danger::after, .btn_dark::after {
  content: "";
  position: absolute;
  height: 19px;
  top: 7px;
  left: 6px;
  right: 8px;
  border-radius: 5px 5px 7px 7px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.53) 0%, rgba(255, 255, 255, 0) 142.11%);
}
.btn_success__text {
  position: relative;
}
.btn_success span, .btn_danger span, .btn_dark span {
  z-index: 2;
}
.btn_success span::before, .btn_danger span::before, .btn_dark span::before {
  content: attr(data-text);
  position: absolute;
  z-index: -1;
  -webkit-text-stroke: 2.3px #000;
  filter: drop-shadow(0px 2.5px 0px #000000);
}

.btn_dark {
  border-radius: 11px;
  border-top: 1px solid #000;
  border-right: 1.2px solid #000;
  border-bottom: 1.4px solid #000;
  border-left: 1.2px solid #000;
  background: #000;
  height: 47px;
  box-shadow: 0px 3px 0px 0px rgba(255, 255, 255, 0.6) inset, 0px 1px 1px 1.2px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.36px;
  gap: 12px;
}
.btn_dark::before {
  border-radius: 12px;
  border: 2.5px solid rgba(0, 0, 0, 0.8);
}
.btn_dark::after {
  border-radius: 5px 5px 7px 7px;
  background: rgba(255, 255, 255, 0.25);
}

.btn_danger {
  border-top: 1.5px solid #000;
  border-right: 2px solid #000;
  border-bottom: 2.5px solid #000;
  border-left: 2px solid #000;
  background: linear-gradient(180deg, #EDA863 0%, #DC4611 100%);
  box-shadow: 0px 5.016px 0.836px 0px rgba(255, 255, 255, 0.7) inset, 0px 1.551px 0.776px 1.551px rgba(0, 0, 0, 0.25);
  height: 47px;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.36px;
  gap: 12px;
}
.btn_danger::before {
  border: 2.508px solid rgba(158, 57, 18, 0);
}
.btn_danger::after {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.53) 0%, rgba(255, 255, 255, 0) 147.5%);
}

.btn_primary {
  border-radius: 12px;
  border: 2px solid #000;
  background: #70B0D0;
  position: relative;
  width: 47px;
  height: 47px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  text-align: center;
  font-family: "Supercell-Magic", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.56px;
  text-shadow: -1px 2px 2px #000;
}
.btn_primary span {
  position: relative;
  z-index: 2;
  transform: translateY(2px);
}
.btn_primary span::before {
  content: attr(data-text);
  position: absolute;
  z-index: -1;
  -webkit-text-stroke: 1.5px #000;
}
.btn_primary::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  border-radius: 8px;
  background: #1868A0;
}
.btn_primary::after {
  content: "";
  height: 16px;
  position: absolute;
  border-radius: 6px;
  background: #4098D0;
  top: 4px;
  left: 5px;
  right: 5px;
}

.modal_close {
  border-radius: 12px;
  border: 2px solid #000;
  background: linear-gradient(180deg, #F23439 63.5%, #E12126 100%);
  box-shadow: 0px 2.356px 0px 0px rgba(0, 0, 0, 0.5);
  width: 53px;
  height: 53px;
}
.modal_close .modal_close_in {
  position: relative;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  padding: 2px 1px;
}
.modal_close .modal_close_in::before {
  content: "";
  position: absolute;
  border-radius: 10px;
  inset: 0;
  background: linear-gradient(180deg, rgb(238, 205, 206) 0%, rgb(255, 255, 255) 1%, rgb(240, 88, 88) 13%, rgb(202, 30, 36) 28%, rgb(173, 27, 30) 100%);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.modal_close .modal_close_text {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  background: linear-gradient(180deg, #F23439 63.5%, #E12126 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab_item {
  display: none;
}

@keyframes tabActive {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.tab_item.active {
  display: block;
  animation: tabActive 0.2s linear 1;
}

@keyframes tabEndActive {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.tab_item.end-active {
  display: block;
  animation: tabEndActive 0.2s linear 1;
}

.header {
  position: absolute;
  top: 24px;
  left: 0;
  width: 100%;
  z-index: 3;
}
.header_in {
  border-radius: 15px;
  border: 1.3px solid #000;
  background: rgba(0, 0, 0, 0.13);
  height: 69px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 12px;
  padding-right: 8px;
  position: relative;
}
.header_in::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  height: 32px;
  width: calc(100% - 16px);
  border-radius: 11.25px 11.25px 11px 11px;
  background: rgba(255, 255, 255, 0.15);
}
.header_in .logo {
  position: relative;
}
.header_in .navs {
  display: flex;
  align-items: center;
  gap: 40px;
  position: relative;
}
.header_in .navs a {
  color: #FFF;
  font-size: 18px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.36px;
}
.header_in .navs a::before {
  content: attr(data-text);
  font-size: 18px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.36px;
  position: absolute;
  -webkit-text-stroke: 2px #000;
  filter: drop-shadow(0px 2px 0px #000000);
  z-index: -1;
}
.header_in .header__right_block {
  position: relative;
  display: flex;
  align-items: center;
  gap: 14px;
}
.header_in .header__right_block .btn_success__text {
  display: flex;
  align-items: center;
  gap: 12px;
}
.header_in .header__right_block .btn_dark {
  width: 46px;
  height: 39px;
  font-size: 15.6px;
  font-weight: 800;
  letter-spacing: 0.312px;
}
.header_in .header__right_block .bars {
  display: none;
}

.mobile_menu {
  display: none;
}

.lang {
  position: relative;
}
.lang .lang_selected {
  position: relative;
}
.lang .lang_selected span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFF;
  text-shadow: 0px 2px 0.4px #000;
  font-size: 15px;
  font-weight: 800;
  line-height: normal;
}
.lang .lang_selected span::before {
  content: attr(data-text);
  position: absolute;
  z-index: -1;
  -webkit-text-stroke: 2px #000;
  filter: drop-shadow(0 2px 0.4px #000);
}
.lang ul {
  position: absolute;
  right: -10px;
  padding-top: 8px;
  height: 0;
  overflow: hidden;
  transition: 0.3s ease all;
}
.lang ul a {
  align-items: center;
  gap: 8px;
}
.lang ul a img {
  height: 33px;
  width: auto;
}
.lang ul a span {
  transform: translateY(2px);
}
.lang:hover ul {
  height: 102px;
}

.home {
  background: url("../images/home_b.webp") center/cover no-repeat;
  padding: 141px 0 102px;
  position: relative;
  overflow: hidden;
  margin-bottom: -30px;
}
.home .home_bg_1 {
  position: absolute;
  bottom: 0;
  left: 0;
}
.home .home_bg_2 {
  position: absolute;
  bottom: -60px;
  right: 0;
}
.home .home_bg_3 {
  height: 15px;
  width: 100%;
  bottom: 0px;
  left: 0;
  position: absolute;
  background: url("../images/home_bottom_img.png") repeat-x;
}
.home .information {
  border-radius: 10px;
  border: 1px solid #000;
  background: #4F9CCF;
  box-shadow: 1px 2px 3px 4px rgba(0, 0, 0, 0.35);
  overflow: hidden;
  margin-bottom: 36px;
}
.home .information__head {
  padding: 14px 14px 10px;
  border-radius: 10px 10px 0px 0px;
  border-bottom: 2px solid #000;
  background: #E4A335;
  position: relative;
}
.home .information__head::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  height: 17px;
  border-radius: 5px;
  background: #FDD349;
}
.home .information__head span {
  color: #FFF;
  font-size: 20px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.6px;
  position: relative;
  z-index: 1;
}
.home .information__head span::before {
  content: attr(data-text);
  position: absolute;
  z-index: -1;
  -webkit-text-stroke: 2.5px #000;
  filter: drop-shadow(0 2px 0 #000);
}
.home .information__content {
  display: flex;
  align-items: stretch;
  gap: 37px;
  padding-right: 36px;
  box-shadow: 0px 2px 0px 0px rgba(255, 255, 255, 0.15) inset, 0px -1px 0px 0px rgba(0, 0, 0, 0.25) inset;
}
.home .information__content .left_block {
  position: relative;
}
.home .information__content .left_block .main_img {
  position: absolute;
  right: 34px;
  bottom: 23px;
}
.home .information__content .left_block .bg_img {
  height: calc(100% + 2px);
}
.home .information__content .right_block p {
  margin: 19px 0 33px;
  color: #FFF;
  font-size: 12px;
  font-weight: 800;
  line-height: 150%;
  font-family: "Supercell-Magic", Helvetica;
}
.home .information__content .right_block .btn_wrap {
  display: flex;
  justify-content: flex-end;
}
.home .information__content .right_block .btn_success, .home .information__content .right_block .btn_dark, .home .information__content .right_block .btn_danger {
  height: 38px;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 0.14px;
}
.home .information__content .right_block .btn_success::after, .home .information__content .right_block .btn_dark::after, .home .information__content .right_block .btn_danger::after {
  height: 20px;
}
.home .protection {
  background: #A82887;
  margin-bottom: 48px;
}
.home .protection__head {
  background: #490C69;
}
.home .protection__head::before {
  background: #76589E;
}
.home .protection__content {
  gap: 39px;
}
.home .protection__content .right_block p {
  font-size: 18px;
  line-height: 144%;
  margin: 15px 0 84px;
}
.home .protection__content .right_block .btn_wrap {
  justify-content: center;
}
.home .protection__content .right_block .btn_dark {
  font-size: 18px;
  letter-spacing: 0.36px;
  height: 47px;
  padding-top: 7px;
}
.home .accounts h2 {
  color: #FFF;
  font-family: "KZ Supercell-Magic", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  letter-spacing: 0.64px;
  text-align: center;
  margin-bottom: 48px;
  position: relative;
  z-index: 1;
}
.home .accounts h2::before {
  content: attr(data-text);
  position: absolute;
  z-index: -1;
  -webkit-text-stroke: 3.5px #000;
  filter: drop-shadow(0 2px 0 #000);
}
.home .accounts__lists {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
  justify-content: space-between;
}
.home .accounts__list {
  border-radius: 21px;
  border-top: 1.401px solid #000;
  border-right: 1.751px solid #000;
  border-bottom: 2.334px solid #000;
  border-left: 1.751px solid #000;
  background: linear-gradient(180deg, #4CC7DF 37.72%, #3E9EBA 51.42%);
  box-shadow: 1.167px 2.334px 3.501px 4.669px rgba(0, 0, 0, 0.35);
  position: relative;
  width: 318px;
  padding: 24px 12px 12px;
  overflow: hidden;
}
.home .accounts__list:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 18px;
  border-right: 2.5px solid #BAEAF3;
  border-bottom: 3.501px solid #BAEAF3;
  border-left: 2.5px solid #BAEAF3;
}
.home .accounts__list .title {
  color: #FFF;
  text-align: center;
  font-size: 18px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.54px;
  margin-bottom: 25px;
  position: relative;
  z-index: 1;
}
.home .accounts__list .title::before {
  content: attr(data-text);
  position: absolute;
  z-index: -1;
  -webkit-text-stroke: 2.5px #000;
  filter: drop-shadow(0 1.867px 0 #000);
}
.home .accounts__list .content {
  position: relative;
  height: 320px;
  text-align: center;
  border-radius: 23px;
  background: #3281A1;
  box-shadow: 0px 5.836px 2.334px 0px rgba(0, 0, 0, 0.15) inset;
  overflow: hidden;
}
.home .accounts__list .img {
  position: relative;
  padding-top: 30px;
}
.home .accounts__list .img .bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% + 50px)) scale(1.1);
}
.home .accounts__list .img .hall {
  position: relative;
}
.home .accounts__list .price {
  position: absolute;
  bottom: 7px;
  left: 7px;
  right: 7px;
  border-radius: 18px;
  background: rgba(0, 0, 0, 0.21);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  color: #FFF;
  padding: 16px;
  z-index: 2;
}
.home .accounts__list .price span:not(.currency) {
  text-align: center;
  font-family: "KZ Supercell-Magic", sans-serif;
  font-size: 30px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.6px;
}
.home .accounts__list .price span:not(.currency)::before {
  content: attr(data-text);
  position: absolute;
  z-index: -1;
  -webkit-text-stroke: 2.5px #000;
  filter: drop-shadow(0 4.085px #000);
}
.home .accounts__list .price span.currency {
  font-family: "Nunito Sans", sans-serif;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 0.56px;
}
.home .accounts__list .price span.currency::before {
  content: attr(data-text);
  position: absolute;
  z-index: -1;
  -webkit-text-stroke: 2.5px #000;
  filter: drop-shadow(0 3.501px #000);
}
.home .accounts__list .btn_primary {
  right: 7px;
  bottom: 91px;
  position: absolute;
  width: 34.995px;
  height: 34.995px;
}
.home .accounts__list .btn_primary img {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}
.home .accounts__list.warning {
  background: linear-gradient(180deg, #FFCF54 37.72%, #FCFF96 51.42%);
}
.home .accounts__list.warning::before {
  border-right: 2.5px solid #FCFF96;
  border-bottom: 3.501px solid #FCFF96;
  border-left: 2.5px solid #FCFF96;
}
.home .accounts__list.warning .content {
  background: #D49B0F;
  box-shadow: 0px 5.836px 2.334px 0px rgba(0, 0, 0, 0.15) inset;
}
.home .accounts__list.purple {
  background: linear-gradient(180deg, #D564FC 37.72%, #EDAFFF 51.42%);
}
.home .accounts__list.purple::before {
  border-right: 2.5px solid #DB75F4;
  border-bottom: 3.501px solid #DB75F4;
  border-left: 2.5px solid #DB75F4;
}
.home .accounts__list.purple .content {
  background: #A02ECE;
  box-shadow: 0px 5.836px 2.334px 0px rgba(0, 0, 0, 0.15) inset;
}
.home .accounts__pagination {
  display: flex;
  margin-top: 48px;
  align-items: center;
  justify-content: center;
  gap: 36px;
}
.home .accounts__pagination .btn_primary.active {
  background: #DDBB47;
}
.home .accounts__pagination .btn_primary.active::after {
  background: #FCFF96;
}
.home .accounts__pagination .btn_primary.active::before {
  background: #D49B0F;
}

.footer {
  background-color: #000;
  padding: 90px 0 90px;
}
.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__top ul {
  display: flex;
  align-items: center;
  gap: 40px;
}
.footer__top ul a {
  color: #FFF;
  font-size: 16px;
  font-weight: 800;
  line-height: normal;
}
.footer__top .links {
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer__top .links .btn_dark {
  width: 180px;
  height: 56px;
  border: 1px solid #FFF;
}
.footer__top .links .btn_dark_in {
  display: flex;
  align-items: center;
  gap: 9px;
}
.footer__top .links .btn_dark .text {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 800;
  line-height: normal;
}
.footer__top .links .btn_dark .subtitle {
  color: #FFF;
  font-size: 10px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.2px;
  margin-bottom: 6px;
}
.footer__bottom {
  border-top: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 45px;
  padding-top: 45px;
}
.footer__bottom .left_links {
  display: flex;
  align-items: center;
  gap: 40px;
}
.footer__bottom .left_links a {
  color: #D8D8D8;
  font-size: 16px;
  font-weight: 800;
  line-height: normal;
}
.footer__bottom .right_links {
  display: flex;
  align-items: center;
  gap: 12px;
}

.modal {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}
.modal__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
}
.modal__content {
  position: relative;
  border-radius: 30px;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  border-bottom: 3px solid #000;
  border-left: 2px solid #000;
  box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.35);
  width: 1118px;
}
.modal__content .modal_close {
  position: absolute;
  top: 30px;
  right: 17px;
  z-index: 2;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.modal__content_border {
  position: relative;
  padding: 3px 3.15px 6px;
  background: linear-gradient(161deg, #7C706C 8.13%, #706461 45.36%, #645A57 83.34%);
  border-radius: 30px;
}
.modal__content_border::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 27px;
  padding: 3px 3.15px 6px;
  background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(69, 66, 56, 0.21) 6%, rgb(69, 66, 56) 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.modal__content_in {
  border-radius: 22px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  position: relative;
}
.modal__content_in .glass {
  position: absolute;
  left: 14px;
  right: 14px;
  top: 14px;
  height: 56px;
  border-radius: 17px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) -24.53%, rgba(255, 255, 255, 0.03) 144.34%);
}

.account_modal .tab {
  position: relative;
  padding: 20px 14px 14px;
}
.account_modal .tab_head {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  padding-left: 38px;
}
.account_modal .tab_head button {
  display: flex;
  width: 252px;
  height: 86px;
  align-items: center;
  justify-content: center;
  border-radius: 12px 12px 0px 0px;
  background: linear-gradient(180deg, #A19789 0%, #8F847A 75.5%, rgba(169, 159, 147, 0.39) 100%);
  position: relative;
  color: #FFF;
  font-size: 24px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.24px;
  z-index: 2;
}
.account_modal .tab_head button::after {
  content: attr(data-text);
  position: absolute;
  -webkit-text-stroke: 3px #000;
  z-index: -1;
}
.account_modal .tab_head button::before {
  content: attr(data-text);
  position: absolute;
  -webkit-text-stroke: 3px #000;
  z-index: -1;
  transform: translateY(3px);
}
.account_modal .tab_head button.active {
  background: #D5CFC3;
}
.account_modal .tab_body {
  border-radius: 12px;
  border-top: 4px solid #D5CFC3;
  border-bottom: 1px solid #D5CFC3;
  background: #EFE8DB;
}
.account_modal .tab_body form {
  padding: 28px 48px 28px;
}
.account_modal .tab_body .form_group {
  border-radius: 12px;
  background: #D5CFC3;
  position: relative;
  padding: 28px 28px 80px;
  margin-bottom: 48px;
}
.account_modal .tab_body .form_group .glass {
  right: 8px;
  left: 8px;
  top: 8px;
  height: 40px;
}
.account_modal .tab_body .form_group .title {
  text-align: center;
  margin-bottom: 49px;
  color: #FFF;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.28px;
  position: relative;
  z-index: 2;
}
.account_modal .tab_body .form_group .title::before {
  content: attr(data-text);
  position: absolute;
  z-index: -1;
  -webkit-text-stroke: 3.5px #000;
  transform: translateY(3px);
}
.account_modal .tab_body .form_group .title::after {
  content: attr(data-text);
  position: absolute;
  -webkit-text-stroke: 3.5px #000;
  z-index: -1;
  width: 100%;
  left: 0;
}
.account_modal .tab_body .form_group .radios {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.account_modal .tab_body .form_group .radios .radio_btn {
  width: calc(25% - 22.5px);
  overflow: hidden;
  border-radius: 15px;
  border-top: 2px solid #000;
  border-right: 2.3px solid #000;
  border-bottom: 2.5px solid #000;
  border-left: 2.3px solid #000;
  background: #FFF;
  box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.5);
  position: relative;
  height: 87px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.account_modal .tab_body .form_group .radios .radio_btn::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 4px;
  top: 0;
  border-radius: 0px 0px 15px 15px;
  border-right: 1px solid rgba(255, 255, 255, 0);
  border-bottom: 4px solid rgba(255, 255, 255, 0);
  border-left: 1px solid rgba(255, 255, 255, 0);
}
.account_modal .tab_body .form_group .radios .radio_btn img {
  position: relative;
  flex-shrink: 0;
  width: auto;
}
.account_modal .tab_body .form_group .radios .radio_btn input[type=radio] {
  position: relative;
  display: none;
}
.account_modal .tab_body .form_group .radios_step_2 {
  align-items: center;
  justify-content: center;
  margin-bottom: 48px;
}
.account_modal .tab_body .form_group__in {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 36px 28px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.25);
}
.account_modal .tab_body .form_group__in_step_2 {
  gap: 36px;
}
.account_modal .tab_body .form_group__in .form_control {
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: center;
}
.account_modal .tab_body .form_group__in label {
  color: #FFF;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.22px;
  position: relative;
  z-index: 2;
}
.account_modal .tab_body .form_group__in label::before {
  content: attr(data-text);
  position: absolute;
  -webkit-text-stroke: 4px #000;
  z-index: -1;
  filter: drop-shadow(0 2px 0 #000);
}
.account_modal .tab_body .form_group__in .input_wrap {
  border-radius: 11px;
  border: 2px solid #000;
}
.account_modal .tab_body .form_group__in .input_wrap input {
  width: 474px;
  height: 48px;
  border-radius: 9px;
  border-top: 4px solid rgba(0, 0, 0, 0.15);
  border-right: 1.5px solid rgba(0, 0, 0, 0.15);
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.15);
  border-left: 1.5px solid rgba(0, 0, 0, 0.15);
  background: #fff;
  color: #353535;
  text-align: center;
  font-size: 18px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.18px;
}
.account_modal .tab_body .form_group__in p {
  color: #FFF;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 125%;
  letter-spacing: 0.48px;
  position: relative;
  z-index: 2;
}
.account_modal .tab_body .form_group__in p:before {
  content: attr(data-text);
}
.account_modal .tab_body .form_group__in p::after {
  content: attr(data-text);
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  z-index: -1;
  -webkit-text-stroke: 2px #000;
  filter: drop-shadow(0 2px 0 #000);
}
.account_modal .tab_body .form_group__in ul {
  display: flex;
  flex-direction: column;
  gap: 28px;
  width: 464px;
}
.account_modal .tab_body .form_group__in ul li {
  display: flex;
  align-items: center;
  gap: 28px;
}
.account_modal .tab_body .form_group__in ul span {
  color: #FFF;
  text-align: center;
  font-size: 22px;
  font-weight: 800;
  line-height: 125%;
  letter-spacing: 0.22px;
  position: relative;
  z-index: 2;
}
.account_modal .tab_body .form_group__in ul span::before {
  content: attr(data-text);
  position: absolute;
  z-index: -1;
  -webkit-text-stroke: 4px #000;
  filter: drop-shadow(0 2px #000);
}
.account_modal .tab_body .form_group__in ul span.left {
  width: 152px;
  text-align: right;
}
.account_modal .tab_body .form_group__in ul span.progres {
  color: #FF887F;
}
.account_modal .tab_body .form_group_step_2 {
  padding-bottom: 28px;
}
.account_modal .tab_body .btn_group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}
.account_modal .tab_body .btn_group button {
  border-radius: 16px;
  border-top: 1.5px solid #000;
  border-right: 2px solid #000;
  border-bottom: 2.5px solid #000;
  border-left: 2px solid #000;
  box-shadow: 0px 5.016px 0.836px 0px rgba(255, 255, 255, 0.7) inset, 0px 1.551px 0.776px 1.551px rgba(0, 0, 0, 0.25);
  width: 214px;
  height: 70px;
}
.account_modal .tab_body .btn_group button::after {
  height: 33px;
  border-radius: 8.359px 8.359px 11.703px 11.703px;
}
.account_modal .tab_body .btn_group button span {
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.24px;
  position: relative;
}
.account_modal .tab_body .btn_group button span:before {
  -webkit-text-stroke: 3px #000;
  filter: drop-shadow(0 3px 0 #000);
}

.hall_modal .modal__content_in {
  padding: 27px 14px 14px;
}
.hall_modal .hall_title {
  color: #FFF;
  font-size: 24px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.24px;
  text-align: center;
  margin-bottom: 41px;
  position: relative;
  z-index: 2;
}
.hall_modal .hall_title::before {
  content: attr(data-text);
  position: absolute;
  -webkit-text-stroke: 4.5px #000;
  filter: drop-shadow(0 4px 0 #000);
  z-index: -1;
}
.hall_modal .hall_slider {
  border-radius: 12px;
  background: #D5CFC3;
  position: relative;
  padding: 28px;
}
.hall_modal .hall_slider__wrap {
  border-radius: 12px;
  border-top: 4px solid #D5CFC3;
  border-bottom: 1px solid #D5CFC3;
  background: #EFE8DB;
  padding: 28px 28px 21px 28px;
}
.hall_modal .hall_slider button:not(.zoom) {
  position: absolute;
  top: 50%;
  z-index: 2;
  transform: translateY(-50%);
}
.hall_modal .hall_slider .glass {
  z-index: 2;
}
.hall_modal .hall_slider .btn_prev {
  left: 0;
}
.hall_modal .hall_slider .btn_next {
  right: 0;
}
.hall_modal .hall_slider .swiper {
  border-radius: 12px;
}
.hall_modal .hall_slider .swiper-slide img {
  width: 100%;
  border-radius: 12px;
  border: 2px solid #000;
}
.hall_modal .hall_slider .swiper-slide .zoom {
  position: absolute;
  bottom: 47px;
  left: 50%;
  transform: translateX(-50%);
}
.hall_modal .hall_slider .swiper-slide .zoom img {
  border: 0;
}

@keyframes modalBgActive {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes modalContentActive {
  from {
    transform: scale(0.7);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.modal.active {
  display: flex;
}
.modal.active .modal__bg {
  animation: modalBgActive 0.3s ease 1;
}
.modal.active .modal__content {
  animation: modalContentActive 0.3s ease 1;
}

@keyframes modalBgEndActive {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes modalContentEndActive {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.7);
    opacity: 0;
  }
}
@keyframes modalEndActive {
  from {
    display: flex;
  }
  to {
    display: flex;
  }
}
.modal.end_active {
  display: none;
  animation: modalEndActive 0.3s ease 1;
}
.modal.end_active .modal__bg {
  animation: modalBgEndActive 0.3s ease 1;
}
.modal.end_active .modal__content {
  animation: modalContentEndActive 0.3s ease 1;
}

.gold_ticket {
  border-radius: 11px;
  border-right: 1px solid #9A7724;
  border-bottom: 1px solid #9A7724;
  border-left: 1px solid #9A7724;
  background: radial-gradient(54.77% 50% at 50% 50%, #FFFF64 0%, #FFD143 100%);
  box-shadow: 1px 2px 3px 4px rgba(0, 0, 0, 0.35);
  margin-bottom: 48px;
}
.gold_ticket_border {
  border-radius: 11px;
  border-right: 1px solid #D1A337;
  border-bottom: 5px solid #D1A337;
  border-left: 1px solid #D1A337;
}
.gold_ticket_in {
  border-radius: 9px;
  border-top: 2px solid #FFE486;
  border-right: 1px solid #FFE486;
  border-bottom: 2px solid #FFE486;
  border-left: 1px solid #FFE486;
  filter: blur(0px);
  padding: 34px 23px 16px;
  position: relative;
}
.gold_ticket h2 {
  color: #FFF;
  text-align: center;
  font-size: 32px;
  font-weight: 800;
  line-height: normal;
  position: relative;
  z-index: 3;
}
.gold_ticket h2:before {
  content: attr(data-text);
  position: absolute;
  -webkit-text-stroke: 4px #000;
  filter: drop-shadow(0 5px 0.4px #000);
  z-index: -1;
}
.gold_ticket .modal_close {
  width: 65px;
  height: 65px;
  position: absolute;
  right: 24px;
  top: 24px;
}
.gold_ticket .main_img {
  text-align: center;
  margin: 39px 0 48px;
  position: relative;
  z-index: 2;
}
.gold_ticket .main_img__bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% + 55px));
  z-index: -1;
}
.gold_ticket img.hero {
  position: absolute;
  top: 43px;
  left: 0;
  z-index: 2;
}
.gold_ticket img.bg {
  position: absolute;
  right: -23px;
  top: -14px;
  z-index: 2;
}
.gold_ticket .ticket_content {
  border-radius: 16px;
  background: rgba(192, 145, 50, 0.73);
  -webkit-backdrop-filter: blur(1.1499999762px);
          backdrop-filter: blur(1.1499999762px);
  position: relative;
  z-index: 5;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.gold_ticket .ticket_content p {
  position: relative;
  z-index: 2;
  width: 640px;
  color: #FFF;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 25px;
}
.gold_ticket .ticket_content p::before {
  content: attr(data-text);
  position: absolute;
  -webkit-text-stroke: 4px #000;
  filter: drop-shadow(0 3.5px 0 #000);
  z-index: -1;
}
.gold_ticket .ticket_content p::after {
  content: attr(data-text);
}
.gold_ticket .ticket_content .time {
  display: flex;
  align-items: flex-end;
  gap: 16px;
}
.gold_ticket .ticket_content .time span {
  transform: translateY(-2px);
  position: relative;
  z-index: 2;
  color: #FFF;
  font-size: 20px;
  font-weight: 800;
  line-height: 30px;
}
.gold_ticket .ticket_content .time span::before {
  content: attr(data-text);
  position: absolute;
  z-index: -1;
  -webkit-text-stroke: 2px #000;
  filter: drop-shadow(0 3px 0 #000);
}
.gold_ticket .ticket_content .btn {
  position: relative;
  z-index: 4;
  border-radius: 15px;
  border-top: 2px solid #000;
  border-right: 2.3px solid #000;
  border-bottom: 2.5px solid #000;
  border-left: 2.3px solid #000;
  background: linear-gradient(180deg, #D1F764 0%, #96C749 100%);
}
.gold_ticket .ticket_content .btn_border {
  border-radius: 0px 0px 15px 15px;
  border-bottom: 4px solid #6F903F;
  padding: 20px 0 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  width: 327px;
  position: relative;
}
.gold_ticket .ticket_content .btn_border .glass {
  border-radius: 13px 13px 11px 11px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.39) -15.79%, rgba(255, 255, 255, 0) 198.68%);
  height: 38px;
  position: absolute;
  top: 5px;
  left: 4px;
  right: 4px;
}
.gold_ticket .ticket_content .btn .main_img {
  width: 77px;
  margin: 0;
}
.gold_ticket .ticket_content .btn .btn_text_wrap {
  display: flex;
  align-items: center;
  gap: 12px;
}
.gold_ticket .ticket_content .btn .btn_text_wrap .btn_text {
  position: relative;
  color: #FFF;
  font-family: "KZ Supercell-Magic", Helvetica;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  z-index: 2;
}
.gold_ticket .ticket_content .btn .btn_text_wrap .btn_text::before {
  content: attr(data-text);
  position: absolute;
  z-index: -1;
  -webkit-text-stroke: 4px #000;
  filter: drop-shadow(0 5px 0 #000);
}
.gold_ticket .ticket_content .btn .btn_text_wrap .btn_currency {
  position: relative;
  z-index: 2;
  color: #FFF;
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
  font-size: 38px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.76px;
}
.gold_ticket .ticket_content .btn .btn_text_wrap .btn_currency::before {
  content: attr(data-text);
  position: absolute;
  z-index: -1;
  -webkit-text-stroke: 4px #000;
  filter: drop-shadow(0 4px 0 #000);
}

.gems {
  position: relative;
  z-index: 2;
}
.gems h2 {
  color: #FFF;
  font-family: "KZ Supercell-Magic", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.64px;
  text-align: center;
  margin-bottom: 40px;
  position: relative;
  z-index: 1;
}
.gems h2::before {
  content: attr(data-text);
  position: absolute;
  z-index: -1;
  -webkit-text-stroke: 2.5px #000;
  filter: drop-shadow(0 4px 0 #000);
}
.gems .gems_lists {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 56px;
}
.gems .gems_lists .gems_list {
  border-radius: 21px;
  border-top: 1.2px solid #000;
  border-right: 1.5px solid #000;
  border-bottom: 2px solid #000;
  border-left: 1.5px solid #000;
  background: linear-gradient(180deg, #4DC9E1 0%, #307595 100%);
  box-shadow: 1px 2px 3px 4px rgba(0, 0, 0, 0.35);
  width: 320px;
}
.gems .gems_lists .gems_list__border {
  border-radius: 20px;
  border-top: 3px solid rgba(255, 255, 255, 0.74);
  border-right: 2.5px solid rgba(255, 255, 255, 0.74);
  border-bottom: 3px solid rgba(255, 255, 255, 0.74);
  border-left: 2.5px solid rgba(255, 255, 255, 0.74);
  padding: 23px 12px 10px;
  position: relative;
  height: 402px;
}
.gems .gems_lists .gems_list .discount {
  position: absolute;
  top: -6.45px;
  left: -17px;
}
.gems .gems_lists .gems_list .discount span {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-6.533deg);
  color: #FFF;
  font-family: "KZ Supercell-Magic", Helvetica;
  font-size: 15px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.45px;
}
.gems .gems_lists .gems_list .discount span::before {
  content: attr(data-text);
  position: absolute;
  z-index: -1;
  -webkit-text-stroke: 3px #000;
  filter: drop-shadow(0 3px 0 #000);
}
.gems .gems_lists .gems_list .subtitle {
  color: #A6FE16;
  text-align: center;
  font-size: 16px;
  font-weight: 800;
  line-height: normal;
  position: relative;
  z-index: 2;
  margin-bottom: 9px;
}
.gems .gems_lists .gems_list .subtitle::before {
  content: attr(data-text);
  position: absolute;
  z-index: -1;
  -webkit-text-stroke: 2px #000;
  filter: drop-shadow(0 2.6px 0 #000);
}
.gems .gems_lists .gems_list .title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.gems .gems_lists .gems_list .title span {
  position: relative;
  z-index: 1;
  color: #FFF;
  font-family: "KZ Supercell-Magic", Helvetica;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.64px;
}
.gems .gems_lists .gems_list .title span::before {
  content: attr(data-text);
  position: absolute;
  z-index: -1;
  -webkit-text-stroke: 4px #000;
  filter: drop-shadow(0 4.4px 0 #000);
}
.gems .gems_lists .gems_list .main_img {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 111px;
}
.gems .gems_lists .gems_list .main_img img:not(.main) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.gems .gems_lists .gems_list .main_img .main {
  position: relative;
}
.gems .gems_lists .gems_list:nth-child(6) .main_img {
  top: 38px;
}
.gems .gems_lists .gems_list:nth-child(4) .main_img {
  top: 141px;
}
.gems .gems_lists .gems_list:nth-child(4) .main_img img:not(.main) {
  top: 43%;
}
.gems .gems_lists .gems_list .gems_list_btn {
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 14.5px 0 18.5px;
  position: absolute;
  bottom: 7px;
  left: 12px;
  right: 12px;
}
.gems .gems_lists .gems_list .gems_list_btn .price {
  color: #FFF;
  text-align: center;
  font-family: "KZ Supercell-Magic", Helvetica;
  font-size: 28px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.56px;
  position: relative;
  z-index: 2;
}
.gems .gems_lists .gems_list .gems_list_btn .price::before {
  content: attr(data-text);
  position: absolute;
  z-index: -1;
  -webkit-text-stroke: 4.5px #000;
  filter: drop-shadow(0 4.5px 0 #000);
}
.gems .gems_lists .gems_list .gems_list_btn .currency {
  position: relative;
  z-index: 2;
  color: #FFF;
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.56px;
}
.gems .gems_lists .gems_list .gems_list_btn .currency::before {
  content: attr(data-text);
  position: absolute;
  z-index: -1;
  -webkit-text-stroke: 2.5px #000;
  filter: drop-shadow(0 4px 0 #000);
}
.gems .gems_lists .gems_list.disabled {
  filter: grayscale(100%);
  pointer-events: none;
}

.account_home {
  border-radius: 20px;
  border: 1px solid #000;
  background: #B91C2D;
  box-shadow: 1px 2px 3px 4px rgba(0, 0, 0, 0.35);
  position: relative;
  z-index: 2;
}
.account_home__head {
  border-radius: 20px 20px 0px 0px;
  border-top: 5px solid rgba(255, 255, 255, 0.3);
  filter: blur(0.3000000119px);
}
.account_home__head_border {
  position: relative;
  border-radius: 16px 16px 0px 0px;
  border-right: 1px solid #BD1238;
  border-left: 1px solid #BD1238;
  background: linear-gradient(180deg, #B80A2F 0%, #771129 100%);
}
.account_home h2 {
  color: #FFF;
  text-align: center;
  font-size: 32px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.96px;
  position: relative;
  z-index: 2;
  padding: 48px 0 53px;
}
.account_home h2::before {
  content: attr(data-text);
  position: absolute;
  z-index: -1;
  -webkit-text-stroke: 3.5px #000;
  filter: drop-shadow(0 5px 0 #000);
}
.account_home .stars_1 {
  position: absolute;
  top: 0;
  left: -44px;
}
.account_home .stars_2 {
  position: absolute;
  top: 0;
  right: -45px;
}
.account_home .bg {
  position: absolute;
  left: 76%;
  top: -5px;
}
.account_home__body {
  border-top: 3px solid rgba(255, 255, 255, 0.15);
  background: #E61F33;
  padding: 36px 46px;
  margin: 0 2px;
  position: relative;
  z-index: 2;
}
.account_home__body .top_block {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 53px;
  margin-bottom: 36px;
}
.account_home__body .right_block {
  width: 234px;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
  gap: 38px;
}
.account_home__body .right_block_item {
  border-radius: 23px;
  border: 2px solid #000;
  background: #2C6582;
  flex: 1;
  padding-bottom: 8px;
  position: relative;
}
.account_home__body .right_block_item_border {
  border-radius: 21px;
  border-top: 3px solid rgba(255, 255, 255, 0.45);
  border-right: 3px solid rgba(255, 255, 255, 0.45);
  border-bottom: 1px solid rgba(255, 255, 255, 0.45);
  border-left: 3px solid rgba(255, 255, 255, 0.45);
  background: linear-gradient(180deg, #4DC9E1 0%, #307595 100%);
  filter: blur(0.5px);
  padding-top: 18px;
  height: 100%;
  overflow: hidden;
}
.account_home__body .right_block_item_border img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.account_home__body .right_block .title {
  color: #FFF;
  font-size: 20px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.4px;
  position: absolute;
  z-index: 2;
  text-align: center;
  top: 18px;
  width: 100%;
}
.account_home__body .right_block .title::before {
  content: attr(data-text);
  position: absolute;
  z-index: -1;
  -webkit-text-stroke: 4px #000;
  filter: drop-shadow(0 3px 0 #000);
}
.account_home__body .account_slider {
  border-radius: 23px;
  border: 2px solid #000;
  background: #2C6582;
  width: calc(100% - 234px - 53px);
}
.account_home__body .account_slider_in {
  border-radius: 21px;
  border: 3px solid rgba(255, 255, 255, 0.45);
  filter: blur(0.5px);
  position: relative;
}
.account_home__body .account_slider .swiper {
  border-radius: 21px;
}
.account_home__body .account_slider .swiper img {
  width: 100%;
}
.account_home__body .account_slider .slide_btn {
  position: absolute;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
}
.account_home__body .account_slider .prev_btn {
  left: -28px;
}
.account_home__body .account_slider .next_btn {
  right: -28px;
}
.account_home__body .account_slider .zoom {
  position: absolute;
  z-index: 2;
  bottom: 38px;
  left: 50%;
  transform: translateX(-50%);
}
.account_home__body .description {
  border-radius: 12px;
  background: rgba(0, 0, 0, 0.25);
  padding: 16px;
}
.account_home__body .description p {
  position: relative;
  z-index: 2;
  color: #FFF;
  font-size: 18px;
  font-weight: 800;
  line-height: 144%;
}
.account_home__foot {
  padding: 36px;
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.account_home__foot .price {
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  gap: 16px;
}
.account_home__foot .price_value {
  color: #FFF;
  text-align: center;
  font-family: "KZ Supercell-Magic", Helvetica;
  font-size: 30px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.6px;
  position: relative;
  z-index: 2;
}
.account_home__foot .price_value::before {
  content: attr(data-text);
  position: absolute;
  z-index: -1;
  -webkit-text-stroke: 4px #000;
  filter: drop-shadow(0 5px 0 #000);
}
.account_home__foot .price .currency {
  color: #FFF;
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.64px;
  position: relative;
  z-index: 2;
}
.account_home__foot .price .currency::before {
  content: attr(data-text);
  position: absolute;
  z-index: -1;
  -webkit-text-stroke: 2px #000;
  filter: drop-shadow(0 4px 0 #000);
}
.account_home__foot .foot_bg {
  position: absolute;
  bottom: 0;
  right: 173px;
}
.account_home__foot .btn_success, .account_home__foot .btn_dark, .account_home__foot .btn_danger {
  width: 193px;
  height: 65px;
  font-size: 22px;
}

@media only screen and (max-width: 1230px) {
  .main_container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .header_in .navs {
    display: none;
  }
  .header_in .header__right_block {
    padding-right: 2px;
    gap: 20px;
  }
  .header_in .header__right_block .btn_success, .header_in .header__right_block .btn_dark, .header_in .header__right_block .btn_danger {
    display: none;
  }
  .header_in .header__right_block .bars {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .header_in .header__right_block .bars span {
    width: 40px;
    height: 3px;
    background: white;
    transition: 0.3s ease all;
  }
  @keyframes bars1 {
    0% {
      transform: translate(0);
    }
    40% {
      transform: translateY(13px);
    }
    60% {
      transform: translateY(13px);
    }
    100% {
      transform: translateY(13px) rotateZ(45deg);
    }
  }
  @keyframes bars2 {
    0% {
      opacity: 1;
    }
    60% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes bars3 {
    0% {
      transform: translate(0);
    }
    40% {
      transform: translateY(-13px);
    }
    60% {
      transform: translateY(-13px);
    }
    100% {
      transform: translateY(-13px) rotateZ(-45deg);
    }
  }
  .header_in .header__right_block .bars.active span:nth-child(1) {
    transform: translateY(13px) rotateZ(45deg);
    animation: bars1 0.6s linear 1;
  }
  .header_in .header__right_block .bars.active span:nth-child(2) {
    opacity: 0;
    animation: bars2 0.6s linear 1;
  }
  .header_in .header__right_block .bars.active span:nth-child(3) {
    transform: translateY(-13px) rotateZ(-45deg);
    animation: bars3 0.6s linear 1;
  }
  @keyframes endBars1 {
    0% {
      transform: translateY(13px) rotateZ(45deg);
    }
    40% {
      transform: translateY(13px);
    }
    60% {
      transform: translateY(13px);
    }
    100% {
      transform: translate(0);
    }
  }
  @keyframes endBars2 {
    0% {
      opacity: 0;
    }
    40% {
      opacity: 0;
    }
    60% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes endBars3 {
    0% {
      transform: translateY(-13px) rotateZ(-45deg);
    }
    40% {
      transform: translateY(-13px);
    }
    60% {
      transform: translateY(-13px);
    }
    100% {
      transform: translate(0);
    }
  }
  .header_in .header__right_block .bars.end_active span:nth-child(1) {
    transform: translateY(0) rotateZ(0);
    animation: endBars1 0.6s linear 1;
  }
  .header_in .header__right_block .bars.end_active span:nth-child(2) {
    opacity: 1;
    animation: endBars2 0.6s linear 1;
  }
  .header_in .header__right_block .bars.end_active span:nth-child(3) {
    transform: translateY(0) rotateZ(0);
    animation: endBars3 0.6s linear 1;
  }
  .header_in .header__right_block .lang .lang_selected {
    transform: translateY(2px);
  }
  .header_in .header__right_block .lang .btn_success, .header_in .header__right_block .lang .btn_dark, .header_in .header__right_block .lang .btn_danger {
    display: flex;
  }
  .mobile_menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
  }
  .mobile_menu__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
  }
  .mobile_menu__content {
    position: absolute;
    left: 0;
    top: 0;
    width: 300px;
    height: 100%;
    background: white;
    padding: 20px;
  }
  .mobile_menu .content_head {
    margin-bottom: 20px;
    text-align: center;
  }
  .mobile_menu ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .mobile_menu ul a {
    color: #000;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0.32px;
  }
  @keyframes mobileMenu {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .mobile_menu.active {
    display: block;
    animation: mobileMenu 0.6s ease all;
  }
  .home .information__content .right_block p {
    margin-bottom: 15px;
  }
}
@media only screen and (max-width: 1160px) {
  .modal__content {
    width: calc(100% - 20px);
  }
}
@media only screen and (max-width: 1112px) {
  .gems .gems_lists {
    justify-content: center;
  }
}
@media only screen and (max-width: 1090px) {
  .home .accounts__lists {
    justify-content: center;
  }
  .footer__top {
    flex-direction: column;
    gap: 20px;
  }
  .footer__bottom {
    flex-direction: column;
    gap: 20px;
  }
  .gold_ticket img.bg {
    width: 350px;
  }
  .gold_ticket img.hero {
    width: 320px;
  }
  .gold_ticket .ticket_content {
    flex-direction: column;
    gap: 20px;
  }
}
@media only screen and (max-width: 1030px) {
  .home .information__content {
    flex-direction: column;
    padding-bottom: 20px;
    padding-right: 20px;
    gap: 20px;
  }
  .home .information__content .left_block .main_img {
    left: 0;
    bottom: 23px;
  }
  .home .information__content .right_block p {
    padding-left: 20px;
  }
}
@media only screen and (max-width: 992px) {
  .modal__content .modal_close {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    top: 10px;
    right: 8px;
  }
  .modal__content .modal_close .modal_close_in {
    border-radius: 3px;
  }
  .modal__content .modal_close .modal_close_in::before {
    border-radius: 3px;
  }
  .modal__content .modal_close .modal_close_text {
    border-radius: 2px;
  }
  .modal__content .modal_close img {
    width: 30px;
    height: auto;
  }
  .account_modal .tab {
    padding: 5px;
  }
  .account_modal .tab_head {
    padding: 0 8px;
    gap: 0;
  }
  .account_modal .tab_head button {
    font-size: 14px;
    width: 80px;
    height: 45px;
  }
  .account_modal .tab_body form {
    padding: 10px;
  }
  .account_modal .tab_body .form_group {
    padding: 10px;
    margin-bottom: 20px;
  }
  .account_modal .tab_body .form_group .title {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .account_modal .tab_body .form_group .radios {
    gap: 10px;
  }
  .account_modal .tab_body .form_group .radios .radio_btn {
    width: calc(50% - 5px);
    height: 50px;
  }
  .account_modal .tab_body .form_group .radios .radio_btn img {
    transform: scale(0.6);
  }
  .account_modal .tab_body .form_group .radios_step_2 {
    margin-bottom: 20px;
  }
  .account_modal .tab_body .form_group__in {
    padding: 10px;
    gap: 20px;
  }
  .account_modal .tab_body .form_group__in label {
    font-size: 12px;
  }
  .account_modal .tab_body .form_group__in .input_wrap input {
    font-size: 14px;
    width: 100%;
    height: 30px;
  }
  .account_modal .tab_body .form_group__in p {
    font-size: 12px;
  }
  .account_modal .tab_body .form_group__in ul {
    width: 100%;
  }
  .account_modal .tab_body .form_group__in ul li {
    justify-content: space-between;
  }
  .account_modal .tab_body .form_group__in ul li .left {
    width: auto;
  }
  .account_modal .tab_body .form_group__in ul li span {
    font-size: 12px;
  }
  .account_modal .tab_body .btn_group button {
    width: 150px;
    height: 50px;
    border-radius: 12px;
  }
  .account_modal .tab_body .btn_group button span {
    font-size: 16px;
  }
  .gold_ticket h2 {
    font-size: 20px;
  }
  .gold_ticket h2:before {
    width: 100%;
    left: 0;
  }
  .gold_ticket .modal_close {
    z-index: 3;
    transform: scale(0.6);
    top: -15px;
    right: -16px;
  }
  .gold_ticket img.bg {
    width: 300px;
    top: 50px;
    right: -50px;
  }
  .gold_ticket img.hero {
    width: 280px;
    left: -10px;
    top: 100px;
  }
  .gold_ticket .ticket_content {
    flex-direction: column;
    gap: 20px;
  }
  .account_home__body .top_block {
    flex-direction: column;
  }
  .account_home__body .account_slider {
    width: 100%;
  }
  .account_home__body .right_block {
    flex-direction: row;
    width: 100%;
  }
  .account_home__body .right_block_item {
    height: 200px;
  }
}
@media only screen and (max-height: 820px) {
  .account_modal .tab_body {
    height: calc(100vh - 140px);
    overflow-y: scroll;
  }
  .account_modal .tab_body::-webkit-scrollbar {
    display: none;
  }
}
@media only screen and (max-width: 800px) {
  .gold_ticket {
    overflow: hidden;
  }
  .gold_ticket .modal_close {
    z-index: 3;
  }
  .gold_ticket img.bg {
    display: none;
  }
  .gold_ticket img.hero {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .footer__top ul {
    flex-direction: column;
  }
  .footer__bottom ul {
    flex-direction: column;
  }
  .footer__bottom .right_links {
    flex-direction: row;
  }
  .hall_modal .hall_title {
    font-size: 16px;
  }
  .hall_modal .hall_slider__wrap {
    padding: 10px;
  }
  .hall_modal .hall_slider {
    padding: 10px;
  }
  .hall_modal .hall_slider button:not(.zoom) img {
    width: 40px;
  }
  .hall_modal .hall_slider .swiper-slide .zoom {
    bottom: 5px;
  }
  .hall_modal .hall_slider .swiper-slide .zoom img {
    width: 50px;
  }
  .gold_ticket_in {
    padding-left: 10px;
    padding-right: 10px;
  }
  .gold_ticket .main_img img:not(.main_img__bg) {
    width: 200px;
    height: auto;
  }
  .gold_ticket .ticket_content {
    padding: 15px;
  }
  .gold_ticket .ticket_content p {
    width: 100%;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 15px;
  }
  .gold_ticket .ticket_content .time img {
    width: 30px;
  }
  .gold_ticket .ticket_content .time span {
    font-size: 16px;
  }
  .gold_ticket .ticket_content .btn {
    width: 100%;
  }
  .gold_ticket .ticket_content .btn_border {
    width: 100%;
    padding: 10px 0 12px;
  }
  .gold_ticket .ticket_content .btn .main_img {
    width: 45px;
  }
  .gold_ticket .ticket_content .btn .btn_text_wrap .btn_text {
    font-size: 20px;
  }
  .gold_ticket .ticket_content .btn .btn_text_wrap .btn_currency {
    font-size: 18px;
  }
  .account_home h2 {
    font-size: 22px;
  }
  .account_home h2::before {
    left: 0;
    width: 100%;
  }
  .account_home__body {
    padding: 20px 10px;
  }
  .account_home__body .top_block {
    gap: 20px;
  }
  .account_home__body .account_slider .slide_btn img {
    width: 35px;
  }
  .account_home__body .account_slider .zoom {
    bottom: 5px;
  }
  .account_home__body .account_slider .zoom img {
    width: 30px;
  }
  .account_home__foot {
    justify-content: space-between;
    padding: 20px 10px;
  }
  .account_home__foot .price {
    gap: 10px;
  }
  .account_home__foot .price_value {
    font-size: 20px;
  }
  .account_home__foot .price {
    position: static;
    transform: translate(0);
  }
  .account_home__foot .price .currency {
    font-size: 18px;
  }
  .account_home__foot .btn_success, .account_home__foot .btn_dark, .account_home__foot .btn_danger {
    font-size: 16px;
    width: 120px;
    height: 50px;
  }
}
@media only screen and (max-width: 576px) {
  .account_home .bg {
    display: none;
  }
  .account_home__body .right_block {
    flex-direction: column;
  }
  .account_home__body .right_block .title {
    font-size: 16px;
  }
  .account_home__body .right_block_item {
    flex: auto;
  }
  .account_home__body .description p {
    font-size: 14px;
  }
  .account_home__foot .foot_bg {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */